@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");

    string FAQHeaderID = SqlHelpers.GetTableData("ContentManagement", "ContentName", "FAQ", "ContentID");
    string FAQHeader = SqlHelpers.GetTableData("ContentManagement", "ContentName", "FAQ", "ContentValue");
}

@if (CMSHelpers.ContentDisplay("FAQ"))
{
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container-fluid">

            <div class="section-title">
                <h2>FAQ</h2>
                <h3> @Helpers.GetTranslatableData(FAQHeader, SessionLanguage, FAQHeaderID, "ContentManagement", "Description")</h3>
            </div>

            <div class="row justify-content-center skills-content">
                <div class="col-lg-10 text-start">
                    <ul class="list-group">
                        @HidayahTemplateHelpers.GetHomeFAQ(SessionLanguage)
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- End F.A.Q Section -->
}