@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");

    string PortfolioHeaderID = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Portfolio", "ContentID");
    string PortfolioHeader = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Portfolio", "ContentValue");
}

@if (CMSHelpers.ContentDisplay("Portfolio"))
{
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <h3>
                    @Helpers.GetTranslatableData(PortfolioHeader, SessionLanguage, PortfolioHeaderID, "ContentManagement", "Description")
                </h3>
            </div>

            <div class="row portfolio-container justify-content-center">

                <div class="col-xl-10">
                    <div class="row">
                        @HidayahTemplateHelpers.GetHomePortfolio(SessionLanguage, 12)
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->
}