@model IEnumerable<GexpoTechCMS.Models.AppModels.DocumentResourcesModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");

}

    <!-- ======= Resources Section ======= -->
    <section id="resources" class="resources">
        <div class="container" data-aos="fade-up">

            <div class="section-title mt-3">
                <h2>Resources/Documents</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">

                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        string DirectoryName = Convert.ToDateTime(item.CreatedAt).ToString("MM-yyyy");
                        <div class="col-md-3 mb-2">
                            <div class="card">
                                <div class="card-header" style="min-height: 5em;">
                                    <h5>@item.DocumentName</h5>
                                </div>
                                <div class="card-body" style="min-height: 10em;">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <i class="@ResourcesHelpers.GetDocIcon(item.FileExtension) fa-5x"></i>
                                            @*<p class="text-left">
                                            @Helpers.FormatLongText(item.ShortDescription, 250)
                                        </p>*@
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="row mt-5"></div>
                                            <a href="/DownloadFile/@item.DocumentID" class="mt-5" role="button"><i class="fas fa-download"></i> Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <paging total-records="ViewBag.TotalRecords"
                            page-no="ViewBag.PageNo"
                            page-size="ViewBag.PageSize"
                            show-prev-next="true"
                            show-first-last="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="true"
                            show-gap="true">
                    </paging>
                </div>
            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->