@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");


    //Donate Header Data
    string DonateHeaderID = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Donate", "ContentID");
    string DonateHeader = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Donate", "ContentValue");
}

@if (CMSHelpers.ContentDisplay("Donate") || CMSHelpers.ContentDisplay("CallToAction"))
{

    <!-- ======= Cta Section ======= -->
    <section class="cta">
        <div class="container">

            <div class="text-center">
                <h3>@Helpers.GetTranslatableData(DonateHeader, SessionLanguage, DonateHeaderID, "ContentManagement", "Description")</h3>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->
}
