<div class="col-xl-6 col-xxl-7">
    <div class="card flex-fill w-100">
        <div class="card-header">

            <h5 class="card-title mb-0">Recent Visits</h5>
        </div>
        <div class="card-body py-3">
            <div class="chart chart-sm">
                <canvas id="chartjs-dashboard-line"></canvas>
            </div>
        </div>
    </div>
</div>