<div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
    <div class="card flex-fill w-100">
        <div class="card-header">

            <h5 class="card-title mb-0">Real-Time Visits</h5>
        </div>
        <div class="card-body px-4">
            <div id="world_map" style="height:350px;"></div>
        </div>
    </div>
</div>
