@model GexpoTechCMS.Models.AppModels.PartnerModel
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = "Edit Partner";

    //used to enable admin sidebar
    ViewBag.LoggedInPage = "true";

    //used for setting breadcrumb
    ViewData["BreadCrumb-0"] = "Partners";
    ViewData["BreadCrumb-0-Text"] = "Partners";
    ViewData["BreadCrumb-1"] = null;
    ViewData["BreadCrumb-1-Text"] = null;

    //used for setting active left sidebar
    ViewBag.ActiveTab = "Partners";
}

<div class="container-fluid p-0">

    <!-- ADMIN SCRIPTS -->
    <partial name="~/Views/Shared/AccountLayout/_AdminScript.cshtml" />

    <!-- SEARCH RESULT DIV -->
    <partial name="~/Views/Shared/AccountLayout/_AdminSearchList.cshtml" />

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Edit Partner</strong></h3>
        </div>

        <!-- BREADCRUMB RECENT VISITS -->
        <partial name="~/Views/Shared/AccountLayout/_Breadcrumbs.cshtml" />
    </div>

    <!-- Action messages partial -->
    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Partner Details</h5>
                </div>
                <div class="card-body">
                    <form asp-action="EditPartner" asp-controller="Admin" method="Post" class="g-3 needs-validation" novalidate enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide partner name">
                                Name
                            </label>
                            <input type="text" class="form-control count-chars" asp-for="PartnerName" placeholder="Partner Name" maxlength="250" data-chars-max="250" data-msg-color="danger" required="">
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label class="form-label w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide partner logo">
                                        Partner Logo
                                    </label>
                                    <input type="file" class="form-control accept-imgs upload-file-select" name="Logo" id="Logo">
                                    <small class="form-text text-muted">Max size 5mb.</small>
                                </div>
                            </div>
                            <div class="col-md-4 file-preview-div mt-1">
                                <img src="~/partners/images/@Model.Logo" height="175" class="img-thumbnail img-fluid file-preview" alt="post image preview">
                                <small>
                                    <span class="text-danger text-left file-preview-name"></span>
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide partner link.  Use e.g: 'http://page-url.com' to link to an external page">
                                Link
                            </label>
                            <input type="url" class="form-control count-reach" asp-for="Link" maxlength="250" data-chars-max="250" data-msg-color="danger" placeholder="Link">
                            <div class="invalid-feedback">
                                Please provide a valid url.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Set status">Status</label>
                            <select class="form-control mb-3" asp-for="Status" required="">
                                <option value="" selected>Select status</option>
                                <option value="1">Published</option>
                                <option value="0">Pending</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <input type="hidden" class="form-control" asp-for="ID" value="@Model.ID">
                            <input type="hidden" class="form-control" asp-for="PartnerID" />
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">
                            <i class="align-middle" data-feather="save"></i> Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN MODALS -->
<partial name="~/Views/Shared/AccountLayout/_AdminModals.cshtml" />