@model GexpoTechCMS.Models.AppModels.TestimonialModel
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = "New Testimonial";

    //used to enable admin sidebar
    ViewBag.LoggedInPage = "true";

    //used for setting breadcrumb
    ViewData["BreadCrumb-0"] = "Testimonials";
    ViewData["BreadCrumb-0-Text"] = "Testimonials";
    ViewData["BreadCrumb-1"] = null;
    ViewData["BreadCrumb-1-Text"] = null;

    //used for setting active left sidebar
    ViewBag.ActiveTab = "Testimonials";
}

<div class="container-fluid p-0">

    <!-- ADMIN SCRIPTS -->
    <partial name="~/Views/Shared/AccountLayout/_AdminScript.cshtml" />

    <!-- SEARCH RESULT DIV -->
    <partial name="~/Views/Shared/AccountLayout/_AdminSearchList.cshtml" />

    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>New Testimonial</strong></h3>
        </div>

        <!-- BREADCRUMB RECENT VISITS -->
        <partial name="~/Views/Shared/AccountLayout/_Breadcrumbs.cshtml" />
    </div>

    <!-- Action messages partial -->
    <partial name="~/Views/Shared/_ProcessMessage.cshtml" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Testimonial Details</h5>
                </div>
                <div class="card-body">
                    <form asp-action="NewTestimonial" asp-controller="Admin" method="Post" class="g-3 needs-validation" novalidate enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide full name">
                                Name
                            </label>
                            <input type="text" class="form-control letters-only count-reach" asp-for="Name" maxlength="250" data-chars-max="250" data-msg-color="danger" placeholder="Name" required="">
                            <div class="invalid-feedback">
                                Please provide name.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label count-reach" maxlength="250" data-chars-max="250" data-msg-color="danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide the title of person" required="">
                                Title
                            </label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="Title of person" required="">
                            <div class="invalid-feedback">
                                Please provide a title.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label class="form-label w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide profile image">
                                        Profile Image
                                    </label>
                                    <input type="file" class="form-control accept-imgs upload-file-select" name="ProfileImage" id="ProfileImage" required="">
                                    <small class="form-text text-muted">Max size 5mb.</small>
                                </div>
                            </div>
                            <div class="col-md-3 file-preview-div mt-1">
                                <img src="https://via.placeholder.com/300x175?text=Preview" height="175" class="img-thumbnail img-fluid file-preview" alt="post image preview">
                                <small>
                                    <span class="text-danger text-left file-preview-name"></span>
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label count-reach" maxlength="250" data-chars-max="250" data-msg-color="danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Provide the organization of person">
                                Organization
                            </label>
                            <input type="text" class="form-control" asp-for="Organization" placeholder="Organization of person">
                            <div class="invalid-feedback">
                                Please provide organization of person.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Write the testimonial">
                                Testimonial
                            </label>
                            <textarea class="form-control count-reach" maxlength="500" data-chars-max="500" data-msg-color="danger" asp-for="Testimonial" required=""></textarea>
                            <div class="invalid-feedback">
                                Please provide the testimonial.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label w-100" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Set status">Status</label>
                            <select class="form-control mb-3" asp-for="Status" required="">
                                <option value="" selected>Select status</option>
                                <option value="1">Published</option>
                                <option value="0">Pending</option>
                            </select>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">
                            <i class="align-middle" data-feather="save"></i> Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN MODALS -->
<partial name="~/Views/Shared/AccountLayout/_AdminModals.cshtml" />