@model IEnumerable<GexpoTechCMS.Models.AppModels.PostModel>
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = ViewBag.CategoryName + " Category";
    string active_theme = Helpers.GetActiveTheme();

    //inner page navigation
    ViewBag.InnNav = "header-inner-pages";
}

@if (active_theme == "Hidayah")
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- HEAD PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/HidayahTheme/Partials/_Head.cshtml" />
    </head>

    <body>

        <!-- HEAD NAV PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/HidayahTheme/Partials/_Navigation.cshtml" />

        <!-- MAIN CATEGORY PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_CategoryMain.cshtml" />

        <!-- End #main -->
        <!-- BS4 POPPER JS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_BS4PopperJS.cshtml" />

        <!-- FOOTER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/HidayahTheme/Partials/_Footer.cshtml" />

        <!-- FOOTER SCRIPTS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/HidayahTheme/Partials/_FooterScripts.cshtml" />

    </body>

</html>
}
