@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");

    string PostsHeaderID = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Posts", "ContentID");
    string PostsHeader = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Posts", "ContentValue");
}

@if (CMSHelpers.ContentDisplay("Posts"))
{
    <!-- ======= Recent Posts ======= -->
    <section class="about-lists">
        <div class="container">
            <div class="row no-gutters d-flex justify-content-center mt-2">
                <div class="section-title">
                    <h2>
                        @Helpers.GetTranslatableData(PostsHeader, SessionLanguage, PostsHeaderID, "ContentManagement", "Description")
                    </h2>
                </div>

                @MambaTemplateHelpers.GetHomePosts(SessionLanguage, 9)
            </div>
        </div>
    </section>
    <!-- End Posts Section -->
}
