@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");
}
@if (CMSHelpers.ContentDisplay("ServiceStatistics"))
{
    <!-- ======= Service Stats Section ======= -->
    <section class="counts section-bg">
        <div class="container">
            <div class="row d-flex justify-content-center">
                @MambaTemplateHelpers.GetServiceStats(SessionLanguage)
            </div>
        </div>
    </section>
    <!-- End Service Stats Section -->
}