@model GexpoTechCMS.Models.AppModels.PageModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = Model.Title;
    ViewData["PropertyImage"] = Helpers.BaseUrl(Helpers.GetPostImage(Model.PageID, "Page"));
    string active_theme = Helpers.GetActiveTheme();
}

@if (active_theme == "Default" || string.IsNullOrEmpty(active_theme))
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- HEAD PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Head.cshtml" />
    </head>

    <body>

        <!-- CHECK TO SHOW FB COMMENTS -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_ShowFBCheck.cshtml" />

        <!-- HEAD NAV PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Navigation.cshtml" />

        <!-- PAGE DETAILS MAIN -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_PageDetailsMain.cshtml" />

        <!-- FOOTER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Footer.cshtml" />

        <!-- PRELOADER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Preloader.cshtml" />

        <!-- FOOTER SCRIPTS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_FooterScripts.cshtml" />

    </body>

</html>
}
