@model IEnumerable<GexpoTechCMS.Models.AppModels.PostModel>
@using NgoExpoApp.App_Code

@{
    ViewData["Title"] = ViewBag.TagName + " Tags";
    string active_theme = Helpers.GetActiveTheme();
}

@if (active_theme == "Default" || string.IsNullOrEmpty(active_theme))
{
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- HEAD PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Head.cshtml" />
    </head>

    <body>

        <!-- HEAD NAV PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Navigation.cshtml" />

        <!-- TAGS MAIN -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_TagsMain.cshtml" />

        <!-- BS4 POPPER JS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/Common/_BS4PopperJS.cshtml" />

        <!-- FOOTER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Footer.cshtml" />

        <!-- PRELOADER PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_Preloader.cshtml" />

        <!-- FOOTER SCRIPTS PARTIAL -->
        <partial name="~/Views/Shared/TemplatesLayout/DefaultTheme/Partials/_FooterScripts.cshtml" />

    </body>

</html>
}
