@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NgoExpoApp.App_Code

@{
    string SessionLanguage = Helpers.DefaultData(HttpContextAccessor.HttpContext.Session.GetString("_SessionLanguage"), "en");


    //Donate Header Data
    string DonateHeaderID = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Donate", "ContentID");
    string DonateHeader = SqlHelpers.GetTableData("ContentManagement", "ContentName", "Donate", "ContentValue");
}

@if (CMSHelpers.ContentDisplay("Donate"))
{
    <!-- ======= Donate Section ======= -->
    <section id="cta" class="cta ">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>
                    @Helpers.GetTranslatableData(DonateHeader, SessionLanguage, DonateHeaderID, "ContentManagement", "Description")
                </h3>
                <a class="cta-btn" asp-action="Index" asp-controller="Donate">DONATE</a>
            </div>
        </div>
    </section>
    <!-- End Donate Section -->
}
